<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
  
                <rule name="Frontend" stopProcessing="true">
                    <match url="^(?!api/)" />
                    <action type="Rewrite" url="/" />
                </rule>


                <rule name="Backend" stopProcessing="true">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>